<footer class="footer mt-auto">
	<div class="footer_container">
		<div>
			<h2> Tienda </h2>
			<li><a href="/coleccionables"> COLECCIONABLES </a></li>
			<li><a href="/arte"> ARTE </a></li>
			<li><a href="/accesorios"> ACCESORIOS </a></li>
			<li><a href="/commissions"> ENCARGOS </a></li>
		</div>
		<div>
			<h2> Asistencia </h2>
			<li><a href="/faqs">FAQS</a></li>
			<li><a href="/shippingInformation"> INFORMACIÓN DE ENVÍO </a></li>
			<li><a href="/contactUs"> CONTACTA CON NOSOTROS </a></li>
		</div>
		<div>
			<p> Buenos Aires </p>
			<p> Argentina </p>
			<p> 2020-2021 </p>
			<p> Copyright © All rights reserved </p>
		</div>
	</div>
</footer>
